<h1>Introspections#index</h1>
<p>Find me in app/views/introspections/index.html.erb</p>

<% if flash[:notice] %>
  <p>
    <%= flash[:notice] %>
  </p>
<% end %>

<%# OmniAuth Provider: introspection で処理する %>
<%= form_tag('/auth/introspection', method: 'post') do %>
  <button type='submit'>Login</button>
<% end %>